@charset "utf-8";
/* CSS Document */

body{ background:url(../images/bg.gif);font-family: 'Kaushan Script', cursive;}
#wrapper{background:url(../images/background_web.jpg) center -10px no-repeat; width:1000px; min-height:800px; overflow:hidden; margin:0px auto;}
.slice_count{width:257px; height:110px; margin:10px 0 0 140px; text-align:center; font-size:28px; line-height:56px; float:left; background:url(../images/slice_count_bg.png) center top no-repeat; padding-top:50px;}
.stage_count{width:200px; height:50px; margin:10px 90px 0 0; text-align:center; font-size:28px;  float:right;}
.drawing_canvas{width:450px; height:350px; margin:0px auto; clear:both; margin-top:10px;}

.eraser{width:160px; height:150px; margin:0 0 0 100px; float:left; background:url(../images/eraser.png) center top no-repeat; cursor:pointer; position:absolute; top:350px; right:180px;}
.eraser:hover{width:160px; height:150px; margin:0 0 0 100px; float:left; background:url(../images/eraser.png) center -150px no-repeat;}
.tip{background:url(../images/tip_bulb.png) left top no-repeat; width:400px; height:90px;  float:left; margin-left:130px; padding:20px 0 0 100px; font-size:18px; line-height:24px; letter-spacing:1px; vertical-align:middle; display:block; }
.small{font-size:14px;}
.clear{clear:both;}

#rollingdiv
{
width:148px;
height:148px;

position:relative;
animation:myfirst 5s;
-moz-animation:myfirst 5s; /* Firefox */
-webkit-animation:myfirst 5s; /* Safari and Chrome */
}

@keyframes myfirst
{
0%   { left:0px; top:0px;}
25%  {left:200px; top:0px;}
50%  {left:200px; top:200px;}
75%  { left:0px; top:200px;}
100% { left:0px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {left:0px; top:0px;}
25%  { left:200px; top:0px;}
50%  { left:200px; top:200px;}
75%  { left:0px; top:200px;}
100% { left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   { left:0px; top:0px;}
25%  { left:600px; top:0px;}
50%  { left:600px; top:200px;}
75%  { left:0px; top:200px;}
100% {left:0px; top:0px;}
}
